# Typora
themes/github
themes/newsprint
themes/night
themes/pixyll
themes/github.css
themes/newsprint.css
themes/night.css
themes/pixyll.css
themes/misty*
themes/whitey.css
themes/old-themes
themes/repo-back